<html>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pack.css') }}">

<div class="topnav">

    <a href="/">Home</a>
    <a href="tweets">Tweets</a>
    <a href="articles">Articles</a>
</div>
<div class="container">
    <h1 class="center">Pack News Scraper</h1>
    <p class="center">This website obtains articles and tweets from various different sources that report on the Green Bay Packers.</p>
    <p class="center">Then article sections obtains articles from ESPN and Packerswire.</p>
    <p class="center">The twitter section obtains tweets from various different reporters for the Packers.</p>

    <p class="center">If you have any suggestions here is my discord: Onion#8459</p>
</div>
<img src= "{{ url_for('static', filename='images/PackersStadium.jpeg') }}" alt="Packers Stadium" class="daImg">


</html>