<html>
<div class="topnav">

    <a href="/">Home</a>
    <a href="tweets">Tweets</a>
    <a href="articles">Articles</a>
</div>
<body>
<h1>Pack News in one</h1>
<p>This website obtains articles and tweets from various different sources that report on the Green Bay Packers.</p>
<p>The article sections obtains articles from ESPN and Packerswire.</p>
<p>The twitter section obtains tweets from various different reporters for the Packers.</p>

<p>If you have any suggestions here is my discord: Onion#8459</p>

</body>
</html>