<html>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/pack.css') }}">

    <div class="topnav">

        <a href="/">Home</a>
        <a href="tweets">Tweets</a>
        <a href="articles">Articles</a>

    </div>
    <a class="twitter-timeline" href="https://twitter.com/tomgrossicomedy?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by tomgrossicomedy</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/RapSheet?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by RapSheet</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/RobDemovsky?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by RobDemovsky</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/jasonjwilde?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by jasonjwilde</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/TomSilverstein?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by TomSilverstein</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/ByRyanWood?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by ByRyanWood</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/PGPackersNews?ref_src=twsrc%5Etfw" data-width="400" data-height="400">Tweets by PGPackersNews</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    <a class="twitter-timeline" href="https://twitter.com/zachkruse2?ref_src=twsrc%5Etfw" data-height="400" data-width="400">Tweets by zachkruse2</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
    </html>