<html>
    <div class="topnav">

        <a href="/">Home</a>
        <a href="tweets">Tweets</a>
        <a href="articles">Articles</a>

    </div>    
    <h1>Articles Page</h1>
        <body>
            {% for article in articles %}

            <p>Title: {{article[0]}}
            <br>
            Timestamp: {{article[1]}}
            <br>
            Description: {{article[2]}}
            <br>
            <a href={{article[3]}}>Link</a>
            </p>

            {% endfor %}
        </body>



</html>